version: 1
config:
   - type: physical
     name: ens2
     subnets:
        - type: static
          address: {{ ansible_ssh_host }}
          netmask: {{ network_mask }}
          gateway: {{ network_gateway }}
   - type: nameserver
     address:
       - 8.8.8.8
       - 8.8.4.4
